:root {
  --primary-colour: #023047;
  --secondary-colour: #f1faee;
  --accent-colour: #e63946;
}

.App {
  text-align: center;
  background-color: var(--primary-colour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--secondary-colour);
  margin: 0 auto;
  padding-top: 2em;
}

.App-Footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-Footer > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.App-Footer > ul > li {
  list-style-type: none;
  font-size: calc(8px + 2vmin);
  color: var(--accent-colour);
}

.App-link {
  color: var(--accent-colour);
  font-size: calc(8px + 2vmin);
}
